<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Home
    body
        style(type='text/css').
            body {
                background-color: #555999;
                text-align: center;
                color: #fff;
                
            }
            input {
                margin-top: 40px;
                padding-left: 20px;
                font-size: 16px;
                height: 40px;
                width: 20%;
                background-color: #57699999; 
                color: yellow;
                 border-color: #ffffff00;
                 outline: none;
            }
            button {
                font-size: 16px;
                height: 40px;
                width: 80px;
                background-color: #444999; 
                color: yellow;
                border-color: #ffffff00;
            }
            .password {
                background-color: #576999;

            }
        
        h1 HOME
        h2 Welcome Home Bro
        a(href="/login") LOGIN
        a(href="/logout") LOGOUT

        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe numquam impedit culpa nulla rerum. Ratione veritatis fugiat reiciendis libero cum velit magnam provident. Eveniet est minima voluptates iste voluptas sint porro vero, commodi libero ipsam totam iusto earum labore architecto sit omnis obcaecati accusantium molestiae? Non facere excepturi explicabo officiis consequuntur reprehenderit tempore, velit ab sapiente quaerat. Minima nobis ratione necessitatibus repudiandae, architecto facere rerum assumenda accusantium, ipsum magni, molestiae officia nostrum! Mollitia sapiente eaque consequuntur fugiat, quo quaerat incidunt?
        